<footer
  class="w-full bg-zinc-900 p-4 flex justify-between shadow-2xl drop-shadow-2xl shadow-black -z-0 flex-wrap sm:flex-nowrap"
>
  <!-- left hand side -->
  <div
    class="sm:basis-1/2 basis-full sm:border-r-2 border-r-zinc-400 sm:border-b-0 border-b-2 border-b-zinc-400 pb-2 mb-2 sm:p-0 sm:m-0 gap-4 flex flex-col"
  >
    <p class="text-zinc-300 border-b-2 border-b-rose-600 text-2xl w-fit">
      About US
    </p>
    <p class="text-zinc-500">
      <span class="text-rose-500">SMM Panel</span> , the best , the fastest and
      the most feature rich <span class="text-rose-500">SMM</span> panel
      available in the world.
    </p>
    <p class="text-zinc-500">Registered in the United Kingdom.</p>
    <p class="text-zinc-500">
      SMM Panel &#169; Copyright 2023 . All product rights are reserved for
      <span class="cursor-pointer text-zinc-300"
        ><a href="https://www.fardinsamadi.com">Uryzen317.</a></span
      >
    </p>
    <p class="text-zinc-500">
      Developed by
      <span class="cursor-pointer text-zinc-300"
        ><a href="https://www.uryzen317.ir">Uryzen317</a></span
      >
      . Powered by
      <img
        class="w-5 aspect-square inline-block"
        src="../../assets/index/angular.png"
        alt="angularJS"
      />
      &
      <img
        class="w-5 aspect-square inline-block"
        src="../../assets/index/nestjs.png"
        alt="nestJs"
      />
      .
    </p>
  </div>
  <!-- right hand side -->
  <div class="sm:basis-1/2 basis-full pl-4 flex flex-col gap-4">
    <a routerLink="#"
      ><p class="text-zinc-400 text-lg border-b-2 border-b-rose-600 w-fit">
        Terms of service
      </p></a
    >
    <a routerLink="#"
      ><p class="text-zinc-400 text-lg border-b-2 border-b-rose-600 w-fit">
        Privacy and policy
      </p></a
    >

    <ul class="text-zinc-500">
      <p class="text-zinc-400">Support :</p>
      <li class="ml-4">
        Tel:
        <span class="border-b border-b-zinc-300 text-zinc-400"
          >+201009485685</span
        >
      </li>
      <li class="ml-4">
        Email:
        <span class="border-b border-b-zinc-300 text-zinc-400"
          >amazingsmm.ltd@gmail.com</span
        >
      </li>
    </ul>

    <p class="text-zinc-500">
      Our social media :
      <a class="cursor-pointer"
        ><img
          class="w-6 inline mx-1 brightness-75 aspect-square rounded-full"
          src="../../assets/index/instagram smm.avif"
      /></a>
      <a class="cursor-pointer"
        ><img
          class="w-6 inline mx-1 brightness-75 aspect-square rounded-full"
          src="../../assets/index/youtube smm.jpg"
      /></a>
      <a class="cursor-pointer"
        ><img
          class="w-6 inline mx-1 brightness-75 aspect-square rounded-full"
          src="../../assets/index/telegram smm.png  "
      /></a>
    </p>
  </div>
</footer>
