<div
  class="w-full sm:px-6 sm:py-4 p-4 border-2 border-zinc-700 rounded-2xl bg-zinc-900 shadow-md shadow-zinc-900 group mt-4 hover:border-rose-600 transition-all duration-200"
  *ngFor="let question of questions"
  (click)="question.state = !question.state"
>
  <!-- top section -->
  <div class="flex justify-between gap-4">
    <!-- questtion -->
    <p class="text-zinc-400 text-justify justify-evenly">
      <span class="text-zinc-500">Q: </span> {{ question.question }}
    </p>

    <!-- icon -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="48"
      viewBox="0 96 960 960"
      width="48"
      class="fill-zinc-500 w-6 h-fit shrink-0 group-hover:fill-rose-600 transition-all duration-200 flex jusfity-"
    >
      <path
        d="M200 856V616h60v180h180v60H200Zm500-320V356H520v-60h240v240h-60Z"
        *ngIf="!question.state"
      />
      <path
        d="m122 976-42-42 298-298H180v-60h300v300h-60V678L122 976Zm358-400V276h60v198l298-298 42 42-298 298h198v60H480Z"
        *ngIf="question.state"
      />
    </svg>
    <!-- <div class="w-8 h-">
    </div> -->
  </div>

  <!-- button section -->
  <!-- answer -->
  <p
    class="text-zinc-400 ml-8 transition-all duration-200 text-justify justify-evenly overflow-hidden"
    [class.h-0]="!question.state"
    [class.mt-4]="question.state"
  >
    <span class="text-zinc-500">A: </span>{{ question.answer }}
  </p>
</div>
