<!-- all container -->
<div class="w-full overflow-hidden bg-zinc-800 flex justify-center pb-16">
  <!-- content container in middle of screen -->
  <div class="container">
    <!-- first section -->
    <section
      aria-label="introduction"
      class="flex justify-center gap-10 mb-36 xl:p-0 sm:px-4 px-2 lg:flex-nowrap flex-wrap"
    >
      <!-- left side -->
      <div
        class="lg:basis-1/2 basis-full xl:ml-16 md:mt-24 sm:mt-12 mt-4 flex flex-col lg:gap-20 gap-12 left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
      >
        <!-- top section -->
        <div>
          <h1
            class="font-bold text-6xl text-center md:text-left bg-gradient-to-b from-rose-600 to-rose-500 drop-shadow-lg bg-clip-text text-transparent"
          >
            SMM Panel
          </h1>

          <p class="text-zinc-400 text-lg mt-8 text-justify justify-evenly">
            The best comprehensive SMM solution for all your needs ! with a
            production ready , battle tested and feature rich panel .
          </p>

          <p class="text-zinc-400 text-lg mt-8 text-justify justify-evenly">
            with a huge veriety of supported plaforms, cheap prices and world
            wide available payment methods, you don't need to look any futher
            for a perfect SMM panel !
          </p>
        </div>

        <!-- buttom section -->
        <div
          class="flex items-center sm:justify-between justify-center md:flex-nowrap flex-wrap md:gap-0 gap-6"
        >
          <div
            class="h-[45px] w-fit overflow-hidden text-4xl text-rose-700 font-bold leading-[45px]"
          >
            <!-- internal container -->
            <div
              [style]="'transform: translateY(-' + translationOffset + 'px)'"
              class="transition-transform duration-200 ease-out"
            >
              <p><span class="text-zinc-500">RE</span> Imagined</p>
              <p><span class="text-zinc-500">RE</span> Designed</p>
              <p><span class="text-zinc-500">RE</span> Furbished</p>
            </div>
          </div>
          <button
            class="ring-2 ring-rose-700 py-1 lg:px-4 px-6 text-rose-700 rounded-md hover:ring-zinc-800 hover:text-zinc-800 hover:bg-rose-800 transition-colors duration-100 ease-in text-3xl"
          >
            TRY IT NOW !
          </button>
        </div>
      </div>

      <!-- right side -->
      <div
        class="lg:basis-1/2 basis-full flex justify-center items-center xl:pr-16 lg:pt-40 md:pt-28 pt-12 px-2 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
      >
        <img
          src="../../assets/index/main-page.png"
          alt="main page of smm website screenshot"
          class="aspect-video shadow-2xl shadow-black blur-[0.2px] skew-y-12"
        />
      </div>
    </section>

    <!-- second section -->
    <section aria-label="platforms" class="flex flex-col items-center">
      <!-- header -->
      <p
        class="text-zinc-300 border-b-rose-600 border-b-4 sm:text-5xl text-center sm:p-4 pb-4 text-4xl right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
      >
        You name it <span class="text-rose-600">,</span> We got it
        <span class="text-rose-600">!</span>
      </p>

      <!-- content -->
      <div
        class="flex gap-16 mt-16 leading-loose lg:mx-0 mx-2 sm:flex-nowrap flex-wrap justify-center sm:justify-start"
      >
        <!-- left hand side -->
        <div class="sm:basis-1/2 flex gap-8 justify-end">
          <!-- 1st column -->
          <div class="flex flex-col gap-8">
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/youtube smm.jpg"
              alt="youtube smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out right transition-all duration-1000 delay-150 translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/instagram smm.avif"
              alt="instagram smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out right transition-all duration-1000 delay-200 translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/telegram smm.png"
              alt="telegram smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out right transition-all duration-1000 delay-300 translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/spotify smm.png"
              alt="spotify smm"
            />
          </div>

          <!-- 2nd column -->
          <div class="flex flex-col gap-8 pt-10">
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out"
              src="../../assets/index/facebook smm.png"
              alt="youtube smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out"
              src="../../assets/index/reddit smm.png"
              alt="instagram smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out"
              src="../../assets/index/website smm.png"
              alt="spotify smm"
            />
          </div>

          <!-- 3rd column -->
          <div class="flex flex-col gap-8">
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/discord smm.png"
              alt="youtube smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out left transition-all duration-1000 delay-150 -translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/soundcloud smm.png"
              alt="instagram smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out left transition-all duration-1000 delay-200 -translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/twitter smm.png"
              alt="telegram smm"
            />
            <img
              class="bg-white rounded-xl shadow-lg brightness-75 hover:brightness-100 saturate-75 hover:saturate-200 cursor-pointer shadow-black w-24 border-zinc-700 border-4 aspect-square overflow-hidden hover:-translate-y-2 transition-all duration-100 ease-out left transition-all duration-1000 delay-300 -translate-x-72 opacity-0 blur-lg"
              src="../../assets/index/tiktok smm.png"
              alt="spotify smm"
            />
          </div>
        </div>

        <!-- right hand side -->
        <div
          class="sm:basis-1/2 basis-full lg:mr-16 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
        >
          <p class="text-zinc-400 pb-4 text-justify justify-evenly">
            We provide you SMM services for any platform you can think of ! such
            as <span class="border-b-2 border-rose-500 pb-2">Youtube</span> ,
            <span class="border-b-2 border-rose-500 pb-2">Instagram</span> ,
            <span class="border-b-2 border-rose-500 pb-2">Facebook</span> ,
            <span class="border-b-2 border-rose-500 pb-2">Twitter</span> , and a
            lot more ! ...
          </p>

          <p class="py-4 text-zinc-400 text-justify justify-evenly">
            With our services, you can expect an instant range of SMM features :
          </p>
          <ul>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">Likes</span>
            </li>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">Views</span>
            </li>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">Followrs</span>
            </li>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">Subscribers</span>
            </li>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">Traffics</span>
            </li>
            <li class="pl-4 text-zinc-400">
              + <span class="text-rose-500">...</span>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <!-- third section -->
    <div class="flex flex-col items-center mt-36">
      <!-- fast -->
      <section class="flex justify-center md:flex-nowrap flex-wrap">
        <!-- left hand side -->
        <div
          class="md:basis-1/2 basis-full flex justify-center left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
        >
          <img
            src="../../assets/index/rocket.png"
            class="sm:h-96 p-8"
            alt="fast SMM panel"
          />
        </div>
        <!-- right hand side -->
        <div
          class="md:basis-1/2 basis-full lg:mr-16 md:ml-0 md:mt-0 mt-12 sm:mx-4 mx-2 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
        >
          <p
            class="text-rose-500 sm:text-6xl text-5xl sm:text-left text-center font-bold"
          >
            FAST !
          </p>
          <p class="text-zinc-400 pt-6 text-justify justify-evenly">
            By using latest balzingly fast technologies, our services provice
            the fastest SMM services in the entire industry. your social media
            Likes and Views will be registered sooner that you ever expect !
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            Unlike any other SMM panel service, in here, you'll be rest assured
            that your social media accounts aren't under any risk ! your SMM
            requst will be processed by hands of the best experts.
          </p>
        </div>
      </section>

      <!-- secure -->
      <section class="flex justify-center mt-36 md:flex-nowrap flex-wrap">
        <!-- left hand side -->
        <div
          class="md:basis-1/2 basis-full md:ml-16 md:mr-0 md:mb-0 mb-12 sm:mx-4 mx-2 left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
        >
          <p
            class="text-rose-500 sm:text-6xl text-5xl font-bold sm:text-left text-center"
          >
            SECURE !
          </p>
          <p class="text-zinc-400 pt-6 text-justify justify-evenly">
            Taking advantage of cutting-edge technologies, an unmatched security
            among all similar services is waiting for you.
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            Quantum computing safe encryption of passwords and even tiniest
            pieces of your data, leaves for no security concerns !
          </p>
          <p class="text-zinc-400 pt-8-justify justify-evenly">
            Place your SMM order in utmost of digital security !
          </p>
        </div>

        <!-- right hand side -->
        <div
          class="md:basis-1/2 basis-full flex justify-center sm:p-0 p-4 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
        >
          <img
            src="../../assets/index/lock.png"
            alt="secure smm"
            class="sm:h-96"
          />
        </div>
      </section>

      <!-- reliable -->
      <section class="flex justify-center mt-36 md:flex-nowrap flex-wrap">
        <!-- left hand side -->
        <div
          class="md:basis-1/2 basis-full flex justify-center md:mb-0 mb-12 sm:p-0 p-4 left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
        >
          <img
            src="../../assets/index/reliable.png"
            class="sm:h-96"
            alt="reliable SMM panel"
          />
        </div>
        <!-- right hand side -->
        <div
          class="md:basis-1/2 basis-full md:mr-16 md:ml-0 sm:mx-4 mx-2 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
        >
          <p
            class="text-rose-500 sm:text-6xl text-5xl font-bold sm:text-left text-center"
          >
            RELIABLE !
          </p>
          <p class="text-zinc-400 pt-6 text-justify justify-evenly">
            24/7 support provision by our team, you shouldn't be worried about
            your SMM order anymore. We will do our best to deliver what we are
            supposed to deliver. What you register as your order, is truly what
            you'll get.
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            Our social media SMM servicess are under monitoring every blick of
            every second , just to make sure your social media will stay on top
            !
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            Achieve the <span class="text-rose-500">peak</span> , by our
            services !
          </p>
        </div>
      </section>

      <!-- versatile -->
      <section
        class="flex justify-center mt-36 flex-wrap md:flex-nowrap md:gap-0 gap-12"
      >
        <!-- left hand side -->
        <div
          class="md:basis-1/2 basis-full lg:ml-16 lg:mr-0 sm:mx-4 mx-2 left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
        >
          <p
            class="text-rose-500 sm:text-6xl text-5xl sm:text-left text-center font-bold"
          >
            VERSATILE !
          </p>
          <p class="text-zinc-400 pt-6 text-justify justify-evenly">
            Everything is supported , not only youtube or instagram, but for all
            your social media accounts we provide proper services.
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            <span class="border-b-2 border-zinc-500 text-rose-500"
              >Instagram</span
            >
            : we can boost your account by views and likes form real users. this
            will help you be seen and grow by instagram. Because of our real
            users, nothing will stop your instagram account from developing.
            after a while , you'll see effects of our real views, shares and
            likes !
          </p>
          <p class="text-zinc-400 pt-8 text-justify justify-evenly">
            <span class="border-b-2 border-zinc-500 text-rose-500"
              >Youtube</span
            >
            : our youtube smm services support any kind of videos , from youtube
            short to any kind of your videos. having a great amount of viewers
            in your youtube page, will help you in monitization process and
            makes youtube algorithm to start recommending your videos to public
            more often !
          </p>
          <p class="pt-8 text-zinc-400 text-justify justify-evenly">
            And you can expect same success from our
            <span class="border-b-2 border-zinc-500 text-rose-500"
              >Twitter</span
            >
            ,
            <span class="border-b-2 border-zinc-500 text-rose-500"
              >Facebook</span
            >
            ,
            <span class="border-b-2 border-zinc-500 text-rose-500">Tiktok</span>
            , ... SMM services !
          </p>
        </div>

        <!-- right hand side -->
        <div
          class="md:basis-1/2 basis-full flex justify-center sm:p-0 p-4 right transition-all duration-1000 delay-100 translate-x-72 opacity-0 blur-lg"
        >
          <img
            src="../../assets/index/versatile.png"
            alt="versatile SMM panel"
            class="sm:h-96"
          />
        </div>
      </section>
    </div>

    <!-- fourth section -->
    <section
      aria-label="comments"
      class="flex flex-col items-center mt-36 left transition-all duration-1000 delay-100 -translate-x-72 opacity-0 blur-lg"
    >
      <p
        class="sm:text-4xl text-2xl border-b-2 pb-2 sm:px-4 border-b-rose-600 text-zinc-300"
      >
        What do our customers think ?
      </p>

      <!-- comments container -->
      <div class="w-full relative overflow-hidden">
        <!-- comments section -->
        <div
          class="mt-16 w-full h-72 overflow-hidden relative"
          id="comments-container"
        >
          <!-- comment -->
          <div
            class="shrink-0 h-72 w-96 py-4 px-6 rounded-xl flex flex-col justify-between absolute top-0 left-0 comment"
            [style.left]="elementsOffset[index] + 'px'"
            *ngFor="let comment of comments; let index = index"
          >
            <p class="text-justify justify-evenly text-zinc-400">
              {{ comment.text }}
            </p>
            <p class="text-sm text-zinc-500">- {{ comment.author }}</p>
          </div>
        </div>

        <!-- transparent sides -->
        <!-- left -->
        <div class="h-96 w-10 absolute left-0 top-0 bg-zinc-800"></div>
        <div
          class="h-96 w-20 absolute left-10 top-0 bg-gradient-to-r from-zinc-800 to-transparent"
        ></div>

        <!-- right -->
        <div class="h-96 w-10 absolute right-0 top-0 bg-zinc-800"></div>
        <div
          class="h-96 w-20 absolute right-10 top-0 bg-gradient-to-l from-zinc-800 to-transparent"
        ></div>
      </div>
    </section>
  </div>
</div>
