@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Open Sans", sans-serif;
}

*::selection {
  background-color: #f43f5e;
  color: white;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #3f3f46;
}

::-webkit-scrollbar-thumb {
  background: #e11d48;
}

::-webkit-scrollbar-thumb:hover {
  background: #e11d48;
}

::-webkit-scrollbar-corner {
  background: #e11d48;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #27272a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
